.navbar {
  display: flex;
}
.container {
  width: 90%;
  margin: auto;
  position: relative;
}
.changecol-menu {
  display: none;
  position: absolute;
  list-style-type: none;
  top: 100%;
  right: 20px;
  background-color: #0ebe43;
  text-align: center;
  padding: 4px;
  border-radius: 8px;
  z-index: 1;
}
ul li {
  border: 2px solid hwb(29 13% 7%);
  border-radius: 8px;
  min-width: 150px;
  margin: 4px 0;
  cursor: pointer;
  background-color: rgb(239, 243, 18);
}
.content {
  width: 100%;
}
.staff {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.list-staffs {
  text-align: center;
}
span {
  width: 45%;
  margin: 6px auto;
  cursor: pointer;
  text-align: center;
  padding: 4px 0;
}

.col {
  width: 100%;
  font-weight: bold;
}

.suggest {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* .info {
  min-width: 160px;
  background-color: #ccc;
  max-width: 400px;
  padding: 8px;
  border-radius: 30px;
} */
.form-info {
  margin-left: 20px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
.staff-image {
  width: 286px;
  text-align: center;
  padding-bottom: 12px;
}
.staff-image img {
  height: 100%;
  border-radius: 5px;
}

.changecol {
  border: none;
  border-radius: 20px;
  padding: 4px 6px;
  cursor: pointer;
  background-color: rgb(8, 7, 7);
  color: orange;
}
.changecol-menu li:hover,
.changecol:hover {
  background-color: #ccc;
  color: black;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575cd;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: #512da8;
}

ul li {
  margin: 0px 16px;
  background-color: rgb(212 212 210);
}
a.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  padding: 0;
}
.fa {
  margin-right: 4px;
  margin-left: 0;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(5 5 5);
}
.list-unstyled li {
  min-width: 100px;
  text-align: center;
  margin-bottom: 10px;
}
.btn-social-icon {
  margin: 0 4px;
}
.department {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.department-name {
  padding: 8px 0;
  text-align: center;
  width: 200px;
  background-color: #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* PayOff CSS */
#table-pay {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-size: 16px;
}
.payoff {
  height: 220px;
  border: 1px solid;
  margin: 16px;
  border-radius: 20px;
}
.card-payoff {
  padding: 12px;
}
.infostaff {
  padding: 0 20px;
  font-weight: 500;
}
.infopay {
  background-color: rgba(229, 226, 226, 0.726);
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
}

ol.breadcrumb {
  margin-left: 145px;
  width: 240px;
}

/* desktop */
@media screen and (min-width: 968px) {
  .span-list {
    width: 16%;
  }
  .payoff {
    width: 30%;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 967px) {
  .span-list {
    width: 30%;
  }
  .payoff {
    width: 45%;
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  .span-list {
    width: 45%;
  }
  body {
    font-size: 10px;
  }
  .container {
    width: 70%;
    margin: 0;
  }
  .navbar {
    font-size: 16px;
  }
  .changecol {
    font-size: 10px;
  }
  .info {
    width: 80%;
    margin: 0 auto;
  }
  .form-info,
  h2 {
    font-size: 14px;
  }
  .suggest {
    margin: auto;
    font-size: 16px;
  }
  .payoff {
    width: 90%;
  }
}



.btn-success{
margin-right: 16px;
}